@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");

* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: "Kanit", sans-serif;
}
//
$color-white: #ffffff;
$color-grey: #eeebeb;
$color-blue: #0a58ca;

@import "./node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here

// 3. Include remainder of required Bootstrap stylesheets
@import "./node_modules/bootstrap/scss/variables";
@import "./node_modules/bootstrap/scss/mixins";

// $theme-colors: (
//   "white": $color-white,
//   "grey": $color-grey,
// );

h1 {
  font-size: 2rem;
  text-decoration: underline;
  width: 100%;
  text-align: center;
  padding: 1rem 0rem;
  background-color: $color-blue;
  color: $color-white;
}

// Typography

$font-family-sans-serif: "Kanit", sans-serif;

body {
  background-color: $color-grey;
}

.outer-wrapper {
  padding-top: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  .input-box {
    margin-top: 1rem;
    width: 50%;
  }
  .button-wrapper {
    margin-top: 1rem;
  }
}

.generator-wrapper {
  // width: w20%;
  display: block;
  margin: 1rem auto;
  pointer-events: none;

  // .iframe {
  //   display: block;
  //   margin: 0rem auto;
  // }

  .giphy {
    display: block;
    margin: 0rem auto;
    border: none;
  }

  svg {
    display: block;
    margin: 0rem auto;
    width: 20%;
  }
}

.transition {
  transition: all 1s ease;
}
